{% include base.html %}
<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
      <div class="footer-col col-md-3 col-sm-4 about">
        <div class="footer-col-inner">
          <h3>About</h3>
          <ul>
            <li><a href="{{base}}/about.html"><i class="fa fa-caret-right"></i>About us</a></li>
            <li><a href="{{base}}/contact.html"><i class="fa fa-caret-right"></i>Contact us</a></li>
            <li><a href="{{base}}/privacy.html"><i class="fa fa-caret-right"></i>Privacy policy</a></li>
            <li><a href="{{base}}/terms-and-conditions.html"><i class="fa fa-caret-right"></i>Terms & Conditions</a></li>
          </ul>
        </div><!--//footer-col-inner-->
      </div><!--//foooter-col-->
      <div class="footer-col col-md-6 col-sm-8 newsletter">
        <div class="footer-col-inner">
          <h3>Join our mailing list</h3>
          <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
          <form class="subscribe-form">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter your email" />
            </div>
            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
          </form>

        </div><!--//footer-col-inner-->
      </div><!--//foooter-col-->
      <div class="footer-col col-md-3 col-sm-12 contact">
        <div class="footer-col-inner">
          <h3>Contact us</h3>
          <div class="row">
            <p class="adr clearfix col-md-12 col-sm-4">
              <i class="fa fa-map-marker pull-left"></i>
              <span class="adr-group pull-left">
                <span class="street-address">College Green</span><br>
                <span class="region">56 College Green Road</span><br>
                <span class="postal-code">BS16 AP18</span><br>
                <span class="country-name">UK</span>
              </span>
            </p>
            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="index.html#">enquires@website.com</a></p>
          </div>
        </div><!--//footer-col-inner-->
      </div><!--//foooter-col-->
      </div>
    </div>
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2014 College Green Online | Website template by <a href="index.html#">3rd Wave Media</a></small>
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
          <li><a href="index.html#" ><i class="fa fa-twitter"></i></a></li>
          <li><a href="index.html#" ><i class="fa fa-facebook"></i></a></li>
          <li><a href="index.html#" ><i class="fa fa-youtube"></i></a></li>
          <li><a href="index.html#" ><i class="fa fa-linkedin"></i></a></li>
          <li><a href="index.html#" ><i class="fa fa-google-plus"></i></a></li>
          <li><a href="index.html#" ><i class="fa fa-pinterest"></i></a></li>
          <li><a href="index.html#" ><i class="fa fa-skype"></i></a></li>
          <li class="row-end"><a href="index.html#" ><i class="fa fa-rss"></i></a></li>
        </ul><!--//social-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer><!--//footer-->

<!-- *****CONFIGURE STYLE****** -->
<div class="config-wrapper hidden-xs">
  <div class="config-wrapper-inner">
    <a id="config-trigger" class="config-trigger" href="index.html#"><i class="fa fa-cog"></i></a>
    <div id="config-panel" class="config-panel">
      <p>Choose Colour</p>
      <ul id="color-options" class="list-unstyled list-inline">
        <li class="default active" ><a data-style="{{base}}/assets/css/styles.css" data-logo="{{base}}/assets/images/logo.png" href="index.html#"></a></li>
        <li class="green"><a data-style="{{base}}/assets/css/styles-green.css" data-logo="{{base}}/assets/images/logo-green.png" href="index.html#"></a></li>
        <li class="purple"><a data-style="{{base}}/assets/css/styles-purple.css" data-logo="{{base}}/assets/images/logo-purple.png" href="index.html#"></a></li>
        <li class="red"><a data-style="{{base}}/assets/css/styles-red.css" data-logo="{{base}}/assets/images/logo-red.png" href="index.html#"></a></li>
      </ul><!--//color-options-->
      <a id="config-close" class="close" href="index.html#"><i class="fa fa-times-circle"></i></a>
    </div><!--//configure-panel-->
  </div><!--//config-wrapper-inner-->
</div><!--//config-wrapper-->

<!-- Javascript -->
<script type="text/javascript" src="{{base}}/assets/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="{{base}}/assets/plugins/jflickrfeed/jflickrfeed.min.js"></script>
<script type="text/javascript" src="{{base}}/assets/js/main.js"></script>
