{% include base.html %}
<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %} Bhaktivedanta Institute</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <!-- Global CSS -->
  <link rel="stylesheet" href="{{base}}/assets/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Plugins CSS -->
  <link rel="stylesheet" href="{{base}}/assets/plugins/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="{{base}}/assets/plugins/flexslider/flexslider.css">
  <link rel="stylesheet" href="{{base}}/assets/plugins/pretty-photo/css/prettyPhoto.css">
  <!-- Theme CSS -->
  <link id="theme-style" rel="stylesheet" href="{{base}}/assets/css/styles.css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="home-page">
