<section class="video">
  <h1 class="section-heading text-highlight"><span class="line">Video Tour</span></h1>
  <div class="carousel-controls">
    <a class="prev" href="index.html#videos-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
    <a class="next" href="index.html#videos-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
  </div><!--//carousel-controls-->
  <div class="section-content">
     <div id="videos-carousel" class="videos-carousel carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <iframe class="video-iframe" src="//www.youtube.com/embed/r9LelXa3U_I?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
        </div><!--//item-->
        <div class="item">
          <iframe class="video-iframe" src="//www.youtube.com/embed/RcGyVTAoXEU?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
        </div><!--//item-->
        <div class="item">
          <iframe class="video-iframe" src="//www.youtube.com/embed/Ks-_Mh1QhMc?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
        </div><!--//item-->
      </div><!--//carousel-inner-->
     </div><!--//videos-carousel-->
    <p class="description">Aenean feugiat a diam tempus sodales. Quisque lorem nulla, ultrices imperdiet malesuada at, suscipit vel lorem. Nulla dignissim nisi ac aliquet semper.</p>
  </div><!--//section-content-->
</section><!--//video-->
