    <!-- Testimonials can be put here -->
    <section class="news">
      <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>
      <div class="carousel-controls">
        <a class="prev" href="index.html#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
        <a class="next" href="index.html#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
      </div><!--//carousel-controls-->
      <div class="section-content clearfix">
        <div id="news-carousel" class="news-carousel carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <div class="col-md-4 news-item">
                <h2 class="title"><a href="{{base}}/news-single.html">Phasellus scelerisque metus</a></h2>
                <img class="thumb" src="assets/images/news/news-thumb-1.jpg"  alt="" />
                <p>Suspendisse purus felis, porttitor quis sollicitudin sit amet, elementum et tortor. Praesent lacinia magna in malesuada vestibulum. Pellentesque urna libero.</p>
                <a class="read-more" href="{{base}}/news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
              </div><!--//news-item-->
              <div class="col-md-4 news-item">
                <h2 class="title"><a href="{{base}}/news-single.html">Morbi at vestibulum turpis</a></h2>
                <p>Nam feugiat erat vel neque mollis, non vulputate erat aliquet. Maecenas ac leo porttitor, semper risus condimentum, cursus elit. Vivamus vitae libero tellus.</p>
                <a class="read-more" href="{{base}}/news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                <img class="thumb" src="assets/images/news/news-thumb-2.jpg"  alt="" />
              </div><!--//news-item-->
              <div class="col-md-4 news-item">
                <h2 class="title"><a href="{{base}}/news-single.html">Aliquam id iaculis urna</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum mauris eget sapien consectetur pellentesque. Proin elementum tristique euismod. </p>
                <a class="read-more" href="{{base}}/news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                <img class="thumb" src="assets/images/news/news-thumb-3.jpg"  alt="" />
              </div><!--//news-item-->
            </div><!--//item-->
            <div class="item">
              <div class="col-md-4 news-item">
                <h2 class="title"><a href="{{base}}/news-single.html">Phasellus scelerisque metus</a></h2>
                <img class="thumb" src="assets/images/news/news-thumb-4.jpg"  alt="" />
                <p>Suspendisse purus felis, porttitor quis sollicitudin sit amet, elementum et tortor. Praesent lacinia magna in malesuada vestibulum. Pellentesque urna libero.</p>
                <a class="read-more" href="{{base}}/news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
              </div><!--//news-item-->
              <div class="col-md-4 news-item">
                <h2 class="title"><a href="{{base}}/news-single.html">Morbi at vestibulum turpis</a></h2>
                <p>Nam feugiat erat vel neque mollis, non vulputate erat aliquet. Maecenas ac leo porttitor, semper risus condimentum, cursus elit. Vivamus vitae libero tellus.</p>
                <a class="read-more" href="{{base}}/news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                <img class="thumb" src="assets/images/news/news-thumb-5.jpg"  alt="" />
              </div><!--//news-item-->
              <div class="col-md-4 news-item">
                <h2 class="title"><a href="{{base}}/news-single.html">Aliquam id iaculis urna</a></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum mauris eget sapien consectetur pellentesque. Proin elementum tristique euismod. </p>
                <a class="read-more" href="{{base}}/news-single.html">Read more<i class="fa fa-chevron-right"></i></a>
                <img class="thumb" src="assets/images/news/news-thumb-6.jpg"  alt="" />
              </div><!--//news-item-->
            </div><!--//item-->
          </div><!--//carousel-inner-->
        </div><!--//news-carousel-->
      </div><!--//section-content-->
    </section><!--//news-->
