<div id="promo-slider" class="slider flexslider">
  <ul class="slides">
    <li>
      <img src="assets/images/slides/slide-1.jpg"  alt="" />
      <p class="flex-caption">
        <span class="main" >Join College Green Online</span>
        <br />
        <span class="secondary clearfix" >Choose from over 100 online and offline courses</span>
      </p>
    </li>
    <li>
      <img src="assets/images/slides/slide-2.jpg"  alt="" />
      <p class="flex-caption">
        <span class="main" >Come to our Open Days</span>
        <br />
        <span class="secondary clearfix" >Donec accumsan nunc sed ipsum dapibus consectetur</span>
      </p>
    </li>
    <li>
      <img src="assets/images/slides/slide-3.jpg"  alt="" />
      <p class="flex-caption">
        <span class="main" >Discover online courses</span>
        <br />
        <span class="secondary clearfix" >Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
      </p>
    </li>
    <li>
      <img src="assets/images/slides/slide-4.jpg"  alt="" />
      <p class="flex-caption">
        <span class="main" >Nam ultricies accumsan pellentesque</span>
        <br />
        <span class="secondary clearfix" >In justo orci, ornare vitae nulla sed, suscipit suscipit augue</span>
      </p>
    </li>
  </ul><!--//slides-->
</div><!--//flexslider-->
