// ======= Base =======
body {
  height: 100%;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -344px;
  // equal to footer height
  &:after {
    content: "";
    display: block;
    height: 344px;
  }
}

// must be the same height as footer
.footer {
  height: 344px;
}

// must be the same height as footer
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
}

p {
  color: #444444;
  font-size: 13px;
}

a {
  color: #57a89a;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #34655c;
  }
  &:focus {
    text-decoration: none;
  }
}
